<h3>Form builder</h3>
<form [formGroup]="buildForm" (ngSubmit)="createForm()">
  <div class="form-group">
    <label for="formName">Form name</label>
    <input type="text" class="form-control" formControlName="formName" id="formName" placeholder="Please insert form name:">
  </div>
  <div class="card">
    <div class="card-header">
      <h4>Fields list</h4>
    </div>
    <div class="card-body">
      <h5 *ngIf="fields.length < 1">There are no fields yet</h5>
      <div *ngFor="let field of fields" class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <input type="{{ field.type }}" class="form-control" id="{{ field.name }}"
          placeholder="Please insert form {{ field.name }}:">
      </div>
    </div>
  </div>
  <div class="card">
      <div *ngIf="displayAddField" class="card-body">        
        <h4>Adding fields</h4>
        <div class="form-row align-items-center">
          <div class="col">
            <input type="text" class="form-control" #fieldLabel id="fieldLabel" placeholder="Please enter field label:">
          </div>
          <div class="col">
            <input type="text" class="form-control" #fieldName id="fieldName" placeholder="Please enter field name:">
          </div>
          <div class="col">
            <select class="custom-select my-1 mr-sm-2" #fieldType id="fieldType">
              <option selected>Choose type:</option>
              <option *ngFor="let type of types" [value]="type">{{ type }}</option>
            </select>
          </div>
          <div class="col-auto">
            <button class="btn btn-success" (click)="addField()" >Add new field</button>
          </div>
        </div>
      </div>
      <div *ngIf="!displayAddField" class="card-body">
          <button type="button" class="btn btn-success btn-addField" (click)="showFieldForm()"><strong>+</strong></button>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-info" (click)="goBack()">Back</button>
</form>
